<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
</head>
<body>
<div class="header">
    <p class="titre">Mobil'Home</p>
    <a href="Connexion.html">Se connecter</a>
    <a href="../../resources/templates/Inscription.html">S'inscrire</a>
    <a href="logementListe.html">Logements disponibles</a>
</div>

Bienvenue <p th:text="${UserLogged.lName}"></p>

Maintenant tu peux gérer ton <a href="/myaccount">compte</a>.<br>

Et tu peux aussi gérer tes <a href="/mylogements">logements</a>.<br>

Tu peux aussi chater avec des amis en accédant à la <a href="/userlist">liste des users</a>.



</body>
</html>