<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- Formulaire pour ajouter une maison -->

<form onsubmit="saveHome(this);return false">
    <label>Id :<input name="logementId" type="number" disabled></label>
    <label>Nom de la maison :<input name="logementName" type="text"></label>
    <label>Maison ou appartement :<input name="logementType" type="text"></label>

    <input type="submit">

</form>

<script src="js/ajoutLogement.js"></script>
</body>
</html>