<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un logement</title>
</head>
<body>

<!-- Formulaire pour ajouter une maison -->

<form onsubmit="saveLogement(this);return false">
    <div class="infoLogement">
        <label>Id :<input id="logementId" name="logementId" type="number" disabled></label>
        <br>
        <label>Nom de la maison :<input id="logementNom" name="logementNom" type="text" required></label>
        <br>
        <label>Type de la maison : <br>
        <input id="logementType" name="logementType" type="radio" value="Maison">Maison</label>
        <br>
        <label><input class="logementType" name="logementType" type="radio" value="Appartement">Appartement</label>
        <br>
        <label>Adresse : <input type="text" id="logementAdresse" name="logementAdresse"></label>
        <label>Code Postal: <input type="number" maxlength="5" id="logementCodePostal" name="logementCodePostal"></label>
        <label>Ville: <input type="text" id="logementVille" name="logementVille"></label>
    </div>
    <div class="services">
        <h3>Ajouter des services pour le logement :</h3>
        <label>Saisir les services à ajouter:
            <textarea id="servicesLogement" name="servicesLogement" rows="4" cols="50"></textarea>
        </label>
    </div>
    <div class="contraintes">
        <h3>Ajouter des contraintes pour le logement :</h3>
        <label>Saisir les contraintes à ajouter:
            <textarea id="contraintesLogement" name="contraintesLogement" rows="4" cols="50"></textarea>
        </label>
    </div>
    <input type="submit" value="Valider l'ajout du logement">


    <!-- Success Message -->
    <div id="SuccessMessage"></div>
</form>

<script src="js/ajoutLogement.js"></script>
</body>
</html>