<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Liste des logements</title>
</head>
<body>

<!-- tableau des logements disponibles -->
<div class="tableau">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Type</th>
                <th>Adresse</th>
                <th>Code Postal</th>
                <th>Ville</th>
            </tr>
        </thead>
        <tbody id="listTable">

        </tbody>
    </table>
</div>

<script src="js/logementListe.js"></script>
</body>
</html>