<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/logementListe.css">
    <title>Liste des logements</title>
</head>
<body>
    <div class="header">
        <p class="titre">Mobil'Home</p>
        <a href="logementListe.html">Logements disponibles</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
    </div>



    <h2>Logements disponibles</h2>
    <div class="recherche">
        <label>Rechercher un logement par ville :
            <input type="search" placeholder="Ville" id="recherche" name="recherche">
            <input type="submit" onclick="recherche(document.querySelector('#recherche').value)" value="Rechercher">
        </label>
    </div>
    <!-- tableau des logements disponibles -->
    <div class="tableau">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Type</th>
                    <th>Adresse</th>
                    <th>Code Postal</th>
                    <th>Ville</th>
                </tr>
            </thead>
            <tbody id="listTable">
            </tbody>
        </table>
    </div>
    <div class="footer">
        <p>Footer</p>
    </div>
<script src="js/logementListe.js"></script>
</body>
</html>