<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
</head>
<body>

Bienvenue <p th:text="${UserLogged.lName}"></p><br> <p th:text="${UserLogged.id}"></p>
Tu chat avec <p th:text="${UserChat.lName}"></p><br>


Message recu :
<div th:each="msg:${listMsg}">
    <div th:if="${msg.idUser} == ${UserChat.id}">
        <p th:text="${msg.text}" style="color: red;"></p>
    </div>
    <div th:if="${msg.idUser} == ${UserLogged.id}">
        <p th:text="${msg.text}" style="color: blue;"></p>
    </div>
</div>

Envoyer un message
<form action="" th:action="@{/chat}" th:object="${newMsg}" method="POST">
    <p>Message:</p>
    <input type="text" th:field="*{text}">
    <input th:value="${UserChat.id}" th:name="idUser" th:id="idUser" style="visibility: hidden">
    <input type="submit">
</form>



</body>
</html>