<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Logement</title>
    <link rel="stylesheet" href="../static/css/logement.css" th:href="@{/css/logement.css}">
</head>
<body>
<div class="header">
    <p class="titre">Mobil'Home</p>
    <a href="Connexion.html">Se connecter</a>
    <a href="Inscription.html">S'inscrire</a>
    <a href="logementListe.html">Logements disponibles</a>
</div>

<div class="row">
<div class="columnL">
    <h1 id="nom"></h1>
    <p th:text="${logement.nom}"></p>
    <p th:text="${logement.ville}"></p>
    <img id="imgLogement" src="../static/img/maison.jpg" alt="image maison/logement" width="70%" th:href="@{/img/maison.jpg}">
    <p th:text="${logement.type}"></p>
    <p th:text="${logement.adresse}"></p>
</div>

</div>
<div class="services">
    <h3>Services à effectuer sur place</h3>
    <p th:text="${logement.services}"></p>
</div>
<div class="contraintes">
    <h3>Contraintes du logement</h3>
    <p th:text="${logement.contraintes}"></p>
</div>

<div>
    Ce logement vous plait-il ? Cliquez ici pour voir les réservations
</div>

<form action="" th:action="@{/toReservation}" th:object="${newLogement}" method="POST">
    <input th:value="${logement.id}" th:name="id" th:id="id" style="visibility: hidden">
    <input type="submit" value="Contactez">
</form>


<div class="footer">
    <p>Conditions générales d'utilisations - Mentions légales - Qui sommes nous ?</p>
</div>

<script src="../static/js/showLogement.js"></script>
</body>
</html>