<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UserLists</title>
</head>
<body>

<h1>Bravo tu es inscris comme :</h1>

<div th:each="user:${listUsers}">

    <p th:text="${user.lName}"></p>
    <p th:text="${user.fName}"></p>

    <form action="" th:action="@{/user}" th:object="${newUser}" method="POST">
        <input th:value="${user.id}" th:name="id" th:id="id" style="visibility: hidden">
        <input type="submit" value="Page du profil">
    </form>
</div>

</body>
</html>