<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Page User</title>
</head>
<body>

Bienvenue <p th:text="${UserLogged.lName}"></p> <p th:text="${UserLogged.id}"></p>

Ceci est la page de <d th:text="${user.lName}"></d> <d th:text="${user.fName}"></d>

<form action="" th:action="@{/toChat}" th:object="${newUser}" method="POST">
    <input th:value="${user.id}" th:name="id" th:id="id" style="visibility: hidden">
    <input type="submit" value="Contactez">
</form>

</body>
</html>